/* Range slider */
:root {
    --range-thumb-size: 36px;
}

input[type=range] {
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: (--range-thumb-size - 6px) * 0.5;
    margin-bottom: (--range-thumb-size - 6px) * 0.5;
    --thumb-size: #{--range-thumb-size};  
}
.width-64 {
  max-width: 64rem !important;
}
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size;        
}
.avatar {
    height: 40px !important; 
}
.backgroundcolor1{
    background-color: rgb(50, 183, 138);
    
}
.backgroundcolor2{
    background-color: white;
}
.backgroundcolor3{
    background-color: white;
    margin-top: 5cm;
    margin-right: 3cm;
    margin-bottom: 5cm;
    margin-left: 3cm;
}
.margin-top-5{
    margin-top: 5%;
}
input[type=range]::-moz-range-thumb {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size;    
}

input[type=range]::-ms-thumb {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}
.backgroundcolor1{
    background-color: rgb(50, 183, 138);
}
.backgroundcolor2{
    background-color: white;
}
.backgroundcolor3{
    background-color: white;
    margin-top: 3cm;
    margin-right: 3cm;
    margin-bottom: 3cm;
    margin-left: 3cm;
}
.image{
    margin-top: 5cm;
    margin-right: 3cm;
    margin-bottom: 5cm;
    margin-left: 3cm;
}
.imagesize{
    margin-left: 2.5cm;
    margin-bottom: 2.5cm;
    margin-top: 0.5cm;
}
.margin-top-bot{
    margin-top: 5%;
    margin-bottom: 5%;
}
.margin-left-right{
    margin-left: 3%;
    margin-right: 3%;
}
.margin-left{
    margin-left: 20%;
    
}
.popup-margin{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.App {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/f1/53/99/f15399fe8cd3c6f48a1610a0f8b8f188.jpg");
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .card{
    border: 2px solid black;
    text-transform: uppercase;
    background-image: url("https://i.pinimg.com/originals/f1/53/99/f15399fe8cd3c6f48a1610a0f8b8f188.jpg");
  }
  .detailtext1{
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .detailtext{
    font-weight: bold;
    color: darkgray;
  }
  .detailtext10{
    font-weight: bold;
    text-align: center;
    color: black;
    text-transform: uppercase;
  }
  .footerbackground{
    background-color: black;
  }
  
  .container1{
    background-color: rgb(41, 42, 42);
  }
  .picturesize1{
    height: 10cm;
    width: 10cm;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .picturesize5{
    margin-top: 3%;
    height: 8cm;
    width: 6cm;
  }
  .column{
    margin-left: 3%;
    margin-right: 3%;
  }
  .grid-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .homebackground{
    background-image: url("https://i.pinimg.com/originals/f1/53/99/f15399fe8cd3c6f48a1610a0f8b8f188.jpg");
  }
  .picturesize{
    height: 7cm;
    width: 7cm;
  }
  .menu-text{
    margin-left: 0%;
  }
  .menu{
    background-color: black;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .margin-bot{
    margin-bottom: 10%;
  }
  .App-link {
    color: #61dafb;
  }
  .boldtext1{
    font-weight: bold;
    color: black;
  }
  .boldtext2{
    font-weight: bold;
    color: darkgray;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .popup img{ width: 100%;}
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {color: #06D85F;}
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  